/* ANIMATIONS */
@keyframes charSlideUp {
  to {transform: translateY(-2.4rem);}
}

@keyframes floatingSkill {
  from {transform: scale(1, 1);}
  to {transform: scale(1.03, 1.03);}
} 

@keyframes borderDraw {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

@keyframes fillRight{
    from {clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);}
    to {clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);}
}

@keyframes fillLeft {
    from {clip-path: polygon(100% 100%, 100% 0, 100% 0%, 100 100);}
    to {clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%);}
}

/* GENERAL STYLES */
.page {
  position: relative;
}

.page h2 {
  font-size: 3rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  /* background-color: rgb(18, 18, 18); */
  color: white;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 100%;
  color: white;
}

.hero h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.3;
}

.hero span {
  color: rgb(11, 125, 255);
}

.view-work-btn {
  position: relative;
  margin-top: 1.3rem;
  padding: .6rem 2rem;
  font-size: 1.5rem;
  background-color: #141414;
  color: rgb(11, 125, 255);;
  border: 2px solid rgb(11, 125, 255);;
}

.view-work-btn::before {
  content: 'View My Work!';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -1%;
  height: 100%;
  width: 102%;
  font-size: 1.5rem;
  background-color: rgb(11, 125, 255);
  color: white;
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  transition: clip-path .65s ease;
}

.view-work-btn:hover {
  cursor: pointer;
}

.view-work-btn:hover.view-work-btn::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

/* ABOUT SECTION */
.about-section-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description p {
  max-width: 25rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

.headshot-wrapper {
  margin-bottom: 1rem;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
}

.headshot-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.skills-grid li:nth-child(3n),
.skills-grid li:nth-child(3n + 1) {
  transform: translateY(2rem);
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8rem;
  width: 10rem;
  border: 3px solid transparent;
  border-radius: 1rem;
  opacity: 0;
  background: linear-gradient(rgb(18, 18, 18), rgb(18, 18, 18)) padding-box,
              linear-gradient(45deg, rgb(11, 125, 255)) border-box;
  transition: opacity .5s ease;
}

/* .skill-card::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 5px solid blue;
  border-radius: 1rem;
  border-image: linear-gradient(90deg, blue) 1;
  border-image-slice: 1;
  pointer-events: none;
} */

.skill-card:hover {
  background: linear-gradient(rgb(18, 18, 18), rgb(18, 18, 18)) padding-box,
              linear-gradient(135deg, rgb(11, 125, 255), red) border-box;
  background-size: 300% 300%;
  animation: borderDraw 3s ease infinite alternate
}

.skill-card-img {
  height: 5rem;
  width: 5rem;
  margin-bottom: .5rem;
  background-color: white;
}

.skills-logo {
  height: 5rem;
  width: auto;
}

.skill-card.visible {
  opacity: 1;
  transition-delay: calc(var(--i) * 50ms) !important;
}

/* PROJECTS SECTION */
.projects-section h2 {
  margin-bottom: 2rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.projects-list li {
  position: sticky;
  top: calc(((var(--p-index) * 2.6 + 1) * 1rem) + 5rem);
}

.project-card {
  background-color: white;
  color: rgb(18, 18, 18);
  padding: 1rem;
  border: 2px solid rgb(18, 18, 18);
  border-radius: 1rem;
  width: 40rem;
}

.project-card-title-container {
  width: fit-content;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  max-height: 2.5rem;
  overflow: hidden;
}

.project-card-title-container:hover {
  cursor: pointer;
}

.char {
  animation-delay: calc(var(--i) * 50ms) !important;
}

.project-card-title-container:hover .char {
  display: inline-block;
  animation: charSlideUp .5s ease;
  /* transform: translateY(3rem); */
}

.project-card-title {
  display: flex;
  align-items: center;
}

.split-text {
  font-weight: bolder;
  font-size: 2.1rem;
}

.go-to-link-icon {
  margin-left: .5rem;
  color: black;
  height: 2rem;
  width: auto;
  transform: scale(1.5, 1.5);
}


.project-card-description {
  line-height: 1.5;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0;
}

.tech-stack-card {
  padding: .5rem;
  background-color: rgb(11, 125, 255);
  color: black;
  border: 1.5px solid black;
  border-radius: .5rem;
}

.main-content {
  min-height: 100vh;
  position: relative;
  background-color: transparent;
}

.main-particle-wrapper {
  position: absolute;
  inset: 0;
}

/* CONTACT SECTION */
.contact-section {
  justify-content: center;
}

.contact-section p {
  font-size: 1.1rem;
  max-width: 30rem;
  margin: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  z-index: 1;
}

.contact-form input {
  height: 2.5rem;
}

.contact-form textarea {
  padding-top: .5rem;
}

.contact-form input,
.contact-form textarea {
  padding-left: .5rem;
  background-color: rgb(59, 59, 59);
  color: white;
  border: 1px solid rgb(70, 70, 70);
  border-radius: .5rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: lightgray;
  font-size: 1rem;
}

.submit-btn {
  position: relative;
  height: 2.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: rgb(11, 125, 255);
  border: 3px solid rgb(11, 125, 255);
  border-radius: .5rem;
}

.submit-btn::before {
  content: 'Submit';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1%;
  left: -0.5%;
  height: 101%;
  width: 101.1%;
  font-size: 1.2rem;
  background-color: rgb(11, 125, 255);;
  color: white;
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  border-radius: .4rem;
  transition: clip-path .65s ease;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:hover.submit-btn::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

/* MEDIA QUERIES */
@media(max-width: 1140px) {
  .about-section-content {
    flex-direction: column;
    row-gap: 2rem;
  }

  .description p {
    max-width: 80vw;
    margin-top: 1rem;
  }
}

@media(max-width: 1024px) {
  .view-work-btn:hover.view-work-btn::before {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    animation: fillRight .65s ease;
  }

  .submit-btn:hover.submit-btn::before {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0); 
    animation: fillRight .65s ease;
  }
}

@media(max-width: 800px) {
  .hero h1 {
    text-align: center;
    font-size: 3.5rem;
    margin: 1rem;
  }
}

@media(max-width: 750px) {
  .section {
    padding: 0 5vw;
  }

  .project-card {
    max-width: 90vw;
  }

  .about-section,
  .projects-section {
    padding-top: 5rem;
  }

  .description p {
    max-width: none;
    font-size: clamp(.8rem, calc(4.8vw + .1rem), 1.5rem);
  }
}

@media(max-width: 580px) {
  .contact-section p {
    width: 100%;
  }
  
  .skill-card {
    /* height: 8rem; */
    height: clamp(3.2rem, calc(29vw * .8), 8rem);
    /* width: 10rem; */
    width: clamp(4rem, 29vw, 10rem);
    font-size: clamp(.75rem, calc(1.8vw + .4rem), 1rem);
  }

  .skills-logo {
    height: clamp(2.5rem, 15vw, 5rem);
    width: clamp(2.5rem, 15vw, 5rem);
  }

  .skills-grid {
    gap: .75rem;
  }

  .contact-form {
    max-width: 100%;
  }
}

@media(max-width: 500px) {
  .hero h1 {
    font-size: clamp(2rem, calc(5vw + 1rem), 2.5rem);
  }

  .view-work-btn {
    font-size: clamp(1.1rem, calc((5vw + 1rem) * .7), 1.5rem);
  }

  .project-card-title-container {
    max-height: none;
  }

  .projects-list li {
    position: sticky;
    top: calc(((var(--p-index) * 4 + 1) * 1rem) + 5rem);
  }

  .split-text {
    font-weight: bolder;
    /* font-size: 2.1rem; */
    font-size: clamp(1rem, calc(6vw + .1rem), 2.1rem);
  }

  .go-to-link-icon {
    height: clamp(.9rem, calc(2.5vw + .9rem), 2rem);
  }

  .project-title-dupe {
    display: none !important;
  }

  .tech-stack-card,
  .project-card-description {
    font-size: 1rem;
  }
}

@media(max-width: 420px) {
  .split-text {
    font-size: 1.7rem;
  }
}

@media(max-width: 400px) {
  .split-text {
    font-size: 1.5rem;
  }
}