.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  z-index: 1;
  max-width: 100%;
}

.contact-form input {
  height: 2.5rem;
}

.contact-form textarea {
  padding-top: .5rem;
  resize: none;
}

.contact-form input,
.contact-form textarea {
  padding-left: .5rem;
  background-color: rgb(59, 59, 59);
  color: white;
  border: 1px solid rgb(70, 70, 70);
  border-radius: .5rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: lightgray;
  font-size: 1rem;
}

.submit-btn {
  position: relative;
  height: 2.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: rgb(11, 125, 255);
  border: 3px solid rgb(11, 125, 255);
  border-radius: .5rem;
}

.submit-btn::before {
  content: 'Submit';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1%;
  left: -0.5%;
  height: 101%;
  width: 101.1%;
  font-size: 1.2rem;
  background-color: rgb(11, 125, 255);;
  color: white;
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  border-radius: .4rem;
  transition: clip-path .65s ease;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:hover.submit-btn::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.message {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}

.message.success {
    color: rgb(1, 209, 1);
}

.message.error {
    color: red;
}

.loading-animation {
  color: white;
  height: 2rem;
  width: auto;
  margin: 0;
}

@media(max-width: 1024px) {
  .submit-btn:active {
    transform: scale(.98, .98);
  }

  .submit-btn:hover.submit-btn::before {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0); 
  }
}