.body {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: rgb(32, 32, 32);
    color: white;
    z-index: 2;
}

.links-list {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 1rem;
}

/* .link-outline {
    pad
} */

.link {
    position: relative;
    border: 2px solid transparent;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
}

.link::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -2%;
    height: 100%;
    width: 103%;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    border-radius: .4rem;
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    transition: clip-path .65s ease;
    z-index: -1;
}

.link:hover,
.link.active {
    border: 2px solid blue;
}

.link.active.link::before {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}