/* ANIMATIONS */
@keyframes fillLeft {
    from {clip-path: polygon(100% 100%, 100% 0, 100% 0%, 100 100);}
    to {clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%);}
}

@keyframes clearLeft {
    from {clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%);}
    to {clip-path: polygon(100% 100%, 100% 0, 100% 0%, 100 100);}
}

@keyframes fillRight{
    from {clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);}
    to {clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);}
}

@keyframes clearRight {
    from {clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);}
    to {clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);}
}

.body {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: rgb(59, 59, 59);
    color: white;
    z-index: 2;
    box-shadow: 4px 4px 10px black;
}

.links-list {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: .5rem;
    position: relative;
}

/* .link-outline {
    pad
} */

.link {
    position: relative;
    border: 2px solid transparent;
    border-radius: .5rem;
    padding: .6rem;
    font-size: 1.2rem;
}

.link::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -2%;
    height: 100%;
    width: 103%;
    font-size: 1.5rem;
    background-color: rgb(11, 125, 255);
    color: white;
    border-radius: .4rem;
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    /* transition: clip-path .65s ease; */
    z-index: -1;
}

.link.inactive:hover {
    border: 2px solid rgb(11, 125, 255);
}

.link.active.link::before {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.nav-bar-ball {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    background-color: green;
    z-index: 5;
}

.link:hover .nav-bar-ball {
    transform: translateX(calc((var(--link-index) * 5rem) + 5rem));
    background-color: red !important;
}

.link.inactive.left.link::before  {
    animation: clearRight .65s ease;
}

.link.inactive.right.link::before  {
    animation: clearLeft .65s ease;
}

.link.active.prevLeft.link::before  {
    animation: fillRight .65s ease !important;
}

.link.active.prevRight.link::before  {
    animation: fillLeft .65s ease !important;
}

.no-animate {
    animation: none !important;
}

/* MEDIA QUERIES */
@media(max-width: 650px) {
    .body {
        justify-content: center;
    }
}